.forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    height: 100vh;
}

.forgot-password-content {
    padding: 2em;
    text-align: center;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    width: 400px;
}

.forgot-password-title {
    color: #14213d;
    margin: 10px 0;
}

.forgot-password-form {
    margin: 25px 0;
}

.forgot-password-form > * {
    width: 100%;
}

.forgot-password-form .form-input-container {
    margin-bottom: 5px;
}

.reset-link-error {
    color: red;
    text-align: left;
    font-size: 13px;
    margin: 0;
}

.reset-link-message {
    text-align: left;
    font-size: 13px;
    margin: 0;
    color: rgb(8, 109, 8);
}

.forgot-password-button  {
    margin-top: 20px;
}

.back-to-login {
    color: #14213d;
    text-decoration: none;
    margin: 0;
}

.back-to-login:hover {
    text-decoration: underline;
}

/* for iphone 12 and below screen width 375px mobile phones */

@media (max-width: 390px) {
    .forgot-password-content {
        width: 350px;
        padding: 1.5em;
    }
}

/* for galaxy fold and below screen width 280px mobile phones */

@media (max-width: 280px) {
    .forgot-password-content {
        width: 250px;
    }
}