.reset-password {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    height: 100vh;
    text-align: center;
}

.reset-password-content {
    padding: 2em;
    text-align: center;
    background: rgba(255, 255, 255, 0.07);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    margin-top: 20px;
    width: 400px;
}

.reset-password-title {
    margin: 10px 0;
}

.reset-password-avatar {
    margin: 0 auto;
}

.reset-password-err-heading {
    color: #14213d;
    margin-top: 0;
}

.reset-password-err-desc {
    margin: 15px 0;
}

.reset-err-link-container {
    margin-top: 35px;
}

.reset-err-link {
    color: #ffffff;
    background: #14213d;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin: 0 10px;
}

.reset-err-link:hover {
    background: #2c3344;
}

.reset-password-username {
    margin: 10px 0;
    margin-bottom: 25px;
}

.reset-password-form > * {
    margin: 23px 0;
    width: 100%;
}

.reset-password-form > .form-input-container:nth-child(2) {
    margin-bottom: 5px;
}

.reset-err-text{
    color: rgb(175, 49, 49);
    margin: 0;
    font-size: 13px;
    text-align: left;
}

.reset-success-text-container {
    margin: 0;
}

.reset-success-text-container > a {
    font-size: 13px;
    margin-left: 10px;
    color: #14213d;
}

.reset-success-text {
    color: #14213d;
    margin: 0;
    font-size: 13px;
}

.reset-password-submit {
    margin-top: 20px;
}

/* for iphone 12 and below screen width 375px mobile phones */

@media (max-width: 390px) {
    .reset-password-content {
        width: 350px;
        padding: 1.5em;
        margin: 20px auto;
    }

    .reset-err-link {
        margin: 0 10px;
    }
}

/* for galaxy fold and below screen width 280px mobile phones */

@media (max-width: 280px) {
    .reset-password-content {
        width: 250px;
    }
}

